.globeContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.bigGlobe {
  font-size: 6rem;

  line-height: 1;
  display: inline-block;
}
